.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: solid 2px #D8D8D8;
    width: 500px;
    height: 500px;
    padding: 10px;
  }

  .item-home {
    background-color: #476B98;
    border: 3px solid #69a8b8;
    width: 90px;
    height: 60px;
    justify-content: center;
    align-self: center;
    border-radius: 15%;
    color:white;
  }
